<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añadir Producto</title>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="col-12">
            <nav class="navbar navbar-expand-sm navbar-light"
                 style="background-color: #e3f2fd;">
                <!-- Navbar content -->
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link font-weight-bold" href="/admin/addProduct">Registrar Producto</a></li>
                    <li class="nav-item"><a class="nav-link font-weight-bold" href="/admin/listaProductos">Lista de Productos</a></li>

                </ul>
            </nav>
            <hr>
            <h3 class="text-center">Registrar productos</h3>
            <hr>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <form action="/addP" method="Post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="name">Nombre Producto</label><input type="text" name="name" id="name" class="form-control">
                                    <label for="desc">Descripción</label><input type="text" name="desc" id="desc" class="form-control">
                                    <label for="fabri">Fabricante</label><input type="text" name="fabri" id="fabri" class="form-control">
                                    <label for="vendedor">Vendedor</label><input type="text" name="vendedor" id="vendedor" class="form-control">
                                    <label for="price">Precio</label><input type="number" name="price" id="price" class="form-control">
                                    <br>
                                    <label for="categoria">Elige categoria</label>
                                    <select type="text" name="categoria" id="categoria">
                                        <option value="Ordenadores">Ordenadores</option>
                                        <option value="Componentes">Componentes</option>
                                        <option value="Perifericos">Perifericos</option>
                                        <option value="Movil">Movil</option>
                                    </select>
                                    <br>
                                    <label>Añadir Imagen</label>
                                    <div class="custom-file mb-2">
                                        <input type="file" name="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Subir Imagen</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Añadir</button>
                                </div>
                            </form>
                            <hr>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
 </body>
 </html>