<!DOCTYPE html>
<html lang="en">
<head>
    <title>productos</title>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="col-12">
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
            <!-- Navbar content -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/addProduct" >Registrar Producto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/listaProductos">Lista de productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/inicio">Ir a inicio</a>
                </li>
            </ul>
        </nav>
        <hr>
        <h3 class="text-center">Lista de productos</h3>
        <hr>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">imagen</th>
                <th scope="col">nombre</th>
                <th scope="col">descripcion</th>
                <th scope="col">fabricante</th>
                <th scope="col">precio</th>
                <th scope="col">delete product</th>
            </tr>
            </thead>
            <tbody>
            <ul>
                {{#productos}}
                <tr>
                    <th scope="row"><img alt="" src="data:image/jpeg;base64,{{imagen}}" style="width: 100px;height: 100px;"></th>
                    <td>{{nombre}} <!-- Button trigger modal -->
                        <br>
                        <button type="button" class="btn btn-success btn-sm mt-2" data-toggle="modal" data-target="#CambiarNombre{{idProducto}}">
                            Cambiar nombre
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="CambiarNombre{{idProducto}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="Cambiar nombre">
                                            Cambiar nombre producto
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/changeName/{{idProducto}}" method="post">
                                            <div class="form-group">
                                                <label>Nuevo nombre</label> <input type="text" name="newPname" class="form-control"> <br>
                                                <button type="submit" class="btn btn-primary">
                                                    Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{descripcion}} <!-- Button trigger modal -->
                        <br>
                        <button type="button" class="btn btn-success btn-sm mt-2" data-toggle="modal" data-target="#CambiarDescripcion{{idProducto}}">
                            Cambiar descripcion
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="CambiarDescripcion{{idProducto}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="Cambiar descripcion">
                                            Cambiar descripcion producto
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/changeDescription/{{idProducto}}" method="post">
                                            <div class="form-group">
                                                <label>Nueva descripcion</label> <input type="text" name="newDescription" class="form-control"> <br>
                                                <button type="submit" class="btn btn-primary">
                                                    Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{fabricante}} <!-- Button trigger modal -->
                        <br>
                        <button type="button" class="btn btn-success btn-sm mt-2" data-toggle="modal" data-target="#CambiarFabricante{{idProducto}}">
                            Cambiar fabricante
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="CambiarFabricante{{idProducto}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="Cambiar fabricante">
                                            Cambiar fabricante producto
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/changeFabricante/{{idProducto}}" method="post">
                                            <div class="form-group">
                                                <label>Nuevo fabricante</label> <input type="text" name="newFabricant" class="form-control"> <br>
                                                <button type="submit" class="btn btn-primary">
                                                    Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{precio}} <!-- Button trigger modal -->
                        <br>
                        <button type="button" class="btn btn-success btn-sm mt-2" data-toggle="modal" data-target="#CambiarPrecio{{idProducto}}">
                            Cambiar precio
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="CambiarPrecio{{idProducto}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="Cambiar precio">
                                            Cambiar precio producto
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/changePrice/{{idProducto}}" method="post">
                                            <div class="form-group">
                                                <label>Nuevo precio</label> <input type="text" name="newPrice" class="form-control"> <br>
                                                <button type="submit" class="btn btn-primary">
                                                    Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><a href="/deleteProd/{{idProducto}}"
                        class="btn btn-danger mt-4">delete</a>
                    </td>
                </tr>
                {{/productos}}
            </ul>
            </tbody>
        </table>
        <hr>
    </div>
</div>


<!-- JS code -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

<!--modal-->
<script>
    $('#myModal').on('shown.bs.modal', function() {
    $('#myInput').focus()
    })
</script>
<script>
    $(document).ready(function() {
        $("#myModal").modal();
    });
</script>

</body>
</html>