<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="col-12">
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
            <!-- Navbar content -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/inicio">Ir a Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/admin/listaItems">Lista de items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/admin/listaProductos">Gestión de Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/admin/listaVentas">Historico de Ventas</a>
                </li>
            </ul>
        </nav>
        <hr>
        <h3 class="text-center">Lista de Usuario</h3>
        <hr>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
                <th scope="col">Direccion</th>
                <th scope="col">Tarjeta</th>
                <th scope="col">Cuenta bancaria</th>
                <th scope="col">Rol</th>
                <th scope="col">VIP</th>
                <th scope="col">Eliminar usuario</th>
            </tr>
            </thead>
            <tbody>

            <ul> {{#usuarios}}
                <tr>

                    <td>{{username}}</td>
                    <td>{{email}}</td>
                    <td>{{tlf}}</td>
                    <td>{{direccion}}</td>
                    <td>{{tarjeta}}</td>
                    <td>{{cuentaBancaria}}</td>
                    <td>{{rol}}</td>
                    <td>{{VIP}}</td>


                    <td><a href="/admin/usuarios/deleteUsuario/{{idUsuario}}"
                           class="btn btn-danger mt-4">Borrar</a>
                    </td>
                </tr>
                {{/usuarios}}



            </ul>
            </tbody>
        </table>
        <hr>
    </div>
</div>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>