<html>

<head>
    <title>Productos</title>
</head>
<h1>
    Productos
</h1>

<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Fabricante</th>
        <th>Nombre</th>
        <th>Vendedor</th>
        <th>Valoracion</th>
        <th>Precio</th>
    </tr>
    </thead>
    <tbody>
    {{#productos}}
    <tr>
        <td>{{idProducto}}</td>
        <td>{{fabricante}}</td>
        <td>{{nombre}}</td>
        <td>{{vendedor}}</td>
        <td>{{valoracion}}</td>
        <td>{{precio}}</td>
    </tr>
    {{/productos}}
    </tbody>
</table>

<form action="/addP" method="post">
    <label for="fabricante">Fabricante:</label><br>
    <input type="text" id="fabricante" name="fabricante" value=""><br>
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="nombre" value=""><br>
    <label for="precio">Precio:</label><br>
    <input type="number" id="precio" name="precio" value=""><br>
    <label for="vendedor">Seleccione un vendedor:</label>
    <input type="text" id="vendedor" name="vendedor" list="listavendedores">
    <datalist id="listavendedores">
        {{#vendedores}}
        <option value="{{.}}">
            {{/vendedores}}
    </datalist>
    <input type="submit"  value="Añadir"><br>

</form>




</body>

</html>
